[Unit]
Description=Plex Media Server
After=docker.service
Requires=docker.service
After=network-online.target
Requires=network-online.target
 
[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/sbin/zfs create z/volumes/plex_config
ExecStartPre=/usr/bin/chown plex:plex /var/volumes/plex_config
EnvironmentFile=/root/.secrets/beast
ExecStartPre=-/usr/bin/docker volume rm plex_media
ExecStartPre=/bin/bash -c "/usr/bin/docker volume create --driver local --opt type=cifs --opt device=//172.17.1.3/Media --opt o=username=$${username},password=$${password},uid=1001,forceuid,gid=1001,forcegid plex_media"
ExecStartPre=-/usr/bin/docker volume rm plex_music
ExecStartPre=/bin/bash -c "/usr/bin/docker volume create --driver local --opt type=cifs --opt device=//172.17.1.3/Music --opt o=username=$${username},password=$${password},uid=1001,forceuid,gid=1001,forcegid plex_music"
ExecStartPre=-/usr/bin/docker volume rm plex_published
ExecStartPre=/bin/bash -c "/usr/bin/docker volume create --driver local --opt type=cifs --opt device=//172.17.1.3/Published --opt o=username=$${username},password=$${password},uid=1001,forceuid,gid=1001,forcegid plex_published"
ExecStartPre=/usr/bin/docker pull linuxserver/plex
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --name %n \
    --net host \
    --gpus all \
    --device /dev/dri:/dev/dri \
    -e PUID=$$(/usr/bin/id -u plex) \
    -e PGID=$$(/usr/bin/id -g plex) \
    -e VERSION=latest \
    -v /var/volumes/plex_config:/config \
    -v plex_media:/media \
    -v plex_music:/music \
    -v plex_published:/published \
    -v /bulk/plex:/bulk \
    --tmpfs /transcode \
    linuxserver/plex"
Restart=always
 
[Install]
WantedBy=multi-user.target
