[Unit]
Description=Web DB Admin
After=web-db.service
Requires=web-db.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/sbin/zfs create z/volumes/web_db_admin_sessions
ExecStartPre=/usr/bin/docker pull phpmyadmin/phpmyadmin
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --name %n \
    -v /var/volumes/web_db_admin_sessions:/sessions \
    --link web-db.service:db \
    -p 8101:80 \
    phpmyadmin/phpmyadmin"
Restart=always
 
[Install]
WantedBy=multi-user.target

