# See systemd.timers and systemd.time manpages for details
[Unit]
Description=ZFS monthly snapshot timer

[Timer]
OnCalendar=Sun *-*-1..7 3:00
Persistent=true

[Install]
WantedBy=timers.target
