[Unit]
Description=ZFS frequent snapshot service

[Service]
ExecStart=/bin/zfs-auto-snapshot --skip-scrub --prefix=znap --label=frequent --keep=32 //
