[Unit]
Description=Syncthing
After=docker.service
Requires=docker.service
After=network-online.target
Requires=network-online.target
 
[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/zfs create z/volumes/syncthing_config
ExecStartPre=/usr/bin/chown gustafson:gustafson /var/volumes/syncthing_config
ExecStartPre=/usr/bin/docker pull linuxserver/syncthing
ExecStart=/usr/bin/bash -c "/usr/bin/docker run --rm --name %n \
    -p 8384:8384 \
    -p 22000:22000 \
    -p 21027:21027/udp \
    -e PUID=$$(/usr/bin/id -u gustafson) \
    -e PGID=$$(/usr/bin/id -g gustafson) \
    -e TZ=America/Denver \
    -e UMASK_SET=002 \
    -v /var/volumes/syncthing_config:/config \
    -v /bulk:/bulk \
    linuxserver/syncthing"
Restart=always
 
[Install]
WantedBy=docker.service
