[Unit]
Description=Prune Docker
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker image prune -af
ExecStart=/usr/bin/docker volume prune -f

[Install]
RequiredBy=multi-user.target
