[Unit]
Description=ZFS frequent snapshot service

[Service]
ExecStart=/usr/local/bin/zfs-auto-snapshot --skip-scrub --prefix=znap --label=frequent --keep=8 //
