[Unit]
Description=OpenLDAP
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/zfs create z/volumes/ldap
ExecStartPre=-/usr/bin/zfs create z/volumes/ldap/ldap
ExecStartPre=-/usr/bin/zfs create z/volumes/ldap/slapd
ExecStartPre=/usr/bin/docker pull osixia/openldap
ExecStart=/usr/bin/bash -c "/usr/bin/docker run --rm --name %n \
    --env-file /etc/openldap.env \
    -e LDAP_ORGANISATION='Gustafson Family' \
    -e LDAP_DOMAIN='gustafson.me' \
    -v /var/volumes/ldap/ldap:/var/lib/ldap \
    -v /var/volumes/ldap/slapd:/etc/ldap/slapd.d \
    -p 389:389 \
    -p 636:636 \
    osixia/openldap"
Restart=always
 
[Install]
WantedBy=multi-user.target
