[Unit]
Description=Web Service & Proxy
After=web-db.service
Requires=web-db.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/zfs create z/volumes/web_proxy_config
ExecStartPre=-/usr/bin/zfs create z/volumes/www
ExecStartPre=-/usr/bin/docker volume rm web_proxy_published
EnvironmentFile=/etc/samba/private/beast
ExecStartPre=/usr/bin/bash -c "/usr/bin/docker volume create --driver local --opt type=cifs --opt device=//172.17.1.3/Published --opt o=username=$${username},password=$${password},uid=$$(/usr/bin/id -u www),forceuid,gid=$$(/usr/bin/id -g www),forcegid web_proxy_published"
ExecStartPre=/usr/bin/docker pull linuxserver/letsencrypt
ExecStart=/usr/bin/bash -c "/usr/bin/docker run --rm --name %n \
    -e URL=gustafson.me \
    -e EXTRA_DOMAINS=gushome.org \
    -e SUBDOMAINS=www,docker,groot, \
    -e VALIDATION=http \
    -e EMAIL=j@gustafson.me \
    -e PUID=$$(/usr/bin/id -u www) \
    -e PGID=$$(/usr/bin/id -g www) \
    -v /var/volumes/web_proxy_config:/config \
    -v /var/volumes/www:/config/www \
    -v web_proxy_published:/config/www/published \
    --tmpfs /config/www/Photos/cache \
    --link web-db.service:db \
    -p 80:80 \
    -p 443:443 \
    linuxserver/letsencrypt"
Restart=always
 
[Install]
WantedBy=multi-user.target
