[Unit]
Description=Transmission
After=docker.service
Requires=docker.service
After=network-online.target
Requires=network-online.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/sbin/zfs create d/volumes/transmission_data
ExecStartPre=/usr/bin/docker pull haugene/transmission-openvpn
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --name %n \
    --device /dev/net/tun:/dev/net/tun \
    -e OPENVPN_PROVIDER=VPNAC \
    --env-file /root/.secrets/vpnac.env \
    -e LOCAL_NETWORK=172.17.0.0/16 \
    -e TRANSMISSION_DOWNLOAD_DIR=/peer/Complete \
    -e TRANSMISSION_INCOMPLETE_DIR=/peer/Incomplete \
    -e TRANSMISSION_INCOMPLETE_DIR_ENABLED=true \
    -e TRANSMISSION_WATCH_DIR=/peer/Watch \
    -e TRANSMISSION_WATCH_DIR_ENABLED=true \
    --cap-add NET_ADMIN \
    -v /etc/localtime:/etc/localtime:ro \
    -v /var/volumes/transmission_data:/data \
    -v /d/scratch/peer:/peer \
    -p 9091:9091 \
    haugene/transmission-openvpn"
Restart=always
 
[Install]
WantedBy=multi-user.target
