[Unit]
Description=Web DB
After=docker.service
Requires=docker.service
After=network-online.target
Requires=network-online.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/sbin/zfs create d/volumes/web_db_data
ExecStartPre=/usr/bin/docker pull mysql:5.7
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --name %n \
    --env-file /etc/web-db.env \
    -v /var/volumes/web_db_data:/var/lib/mysql \
    mysql:5.7"
Restart=always
 
[Install]
WantedBy=multi-user.target

