[Unit]
Description=Swap shared with Windows

[Service]
Type=oneshot
ExecStartPre=-/usr/local/bin/swapoff.sh
ExecStart=/usr/local/bin/swapon.sh
ExecStop=/usr/local/bin/swapoff.sh
RemainAfterExit=true
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
