[Unit]
Description=ZFS hourly snapshot service

[Service]
ExecStart=/usr/sbin/zfs-auto-snapshot --skip-scrub --prefix=znap --label=hourly --keep=36 //
