[Unit]
Description=ZFS monthly snapshot service

[Service]
ExecStart=/usr/sbin/zfs-auto-snapshot --skip-scrub --prefix=znap --label=monthly --keep=12 //
