[Unit]
Description=Home tmp directory

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /run/user/%U/tmp
ExecStart=/usr/bin/ln -sfn /run/user/%U/tmp %h/tmp

[Install]
WantedBy=default.target
