[Unit]
Description=ZFS daily snapshot service

[Service]
ExecStart=/usr/local/bin/zfs-auto-snapshot --skip-scrub --prefix=znap --label=daily --keep=14 //
